* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #1D232C;
}

.navbar-menu-toggle {
    display: none;
}

.side-navbar {
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: wheat;
    transition: 2s;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center; 
}

hr {
    border: 0;
    height: 4px;
    background-color: #1D232C;
    margin: 20px ; 
    border-radius: 50px;
}

.one, .two {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: none;
    border-radius: 20px;
    background-color: #343e4c;
    color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.one div, .two div {
    text-align: center; 
}
.one img, .two img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: none; 
}

.products {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 50px;
}

.footer-container{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #F2F4F7;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.gallery div {
    overflow: hidden;
    border-radius: 10px;
    border: solid #1D232C;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 700px) {
    .navbar-menu-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
    }
    .header img {
        display: none;
    }
    .products {
        display: block;
        align-items: center;
        justify-content: center;
        
    }
    .products div{
        width: 100%;
    }
}

